.hero {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.row.text {
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-family: 'Roboto Mono';
}

.row.text p {
    font-size: 2em;
}

.row span {
    margin-top: 10px;
    font-size: 1.5em;
}

.row button {
    width: 160px;
    height: 50px;
    margin-top: 33px;
}

.row.text h1 {
    font-family: 'CarterOne-Regular';
    font-size: 5em;
    margin: 10px 20px 0px -5px;
    height: 45px;
}


/* me */

.box {
    aspect-ratio: 1;
    position: relative;
    z-index: 1;
  }

  .box::after {
    content: '';
    position: absolute;
    border: 20px solid #000000;
    transform: translate(1%, 43%);
    width: 80%;
    height: 63%;
    z-index: -2;
    box-shadow: 2.5px 2.5px 10px 2.5px #000000;
  }

  .box::before {
    content: '';
    position: absolute;
    background-color: #0e253b;
    transform: translate(10%, 32%);
    width: 82%;
    height: 70%;
    z-index: -1;
    box-shadow: 2.5px 2.5px 10px 2.5px #000000;
  }

  .box img {
    width: 70%;
    position: absolute;
    transform: translate(18%, 8.6%);
  }

  @media (max-width: 992px) {
    .box::after {
        border: 10px solid #000000;
        transform: translate(0%, 45%);
    }
  }


  @media (max-width: 768px) {

    .box::before {
        transform: translate(16%, 32%);
    }

    .box img {
        transform: translate(23%, 8.6%);
    }

    .box::after {
        border: 15px solid #000000;
        transform: translate(5%, 43%);
    }
  }